version: '3.8'
services:
  frontend:
    build:
      context: ../CookpiFrontend
    ports:
      - "4200:80"
    networks:
      - app-network
    depends_on:
      - backend
    restart: always

  backend:
    build:
      context: ../CookpiBackend
    ports:
      - "3000:3000"
    networks:
      - app-network
    environment:
      - MYSQLDATABASE=cookpi
      - MYSQLUSER=alumno25.cacace.nicolas
      - MYSQLPASSWORD=JT5+g+V39/IyRNkMzaPAeg==
      - DBHOST=mysql
      - DBPORT=3306
    depends_on:
      - mysql
    restart: always

  mysql:
    image: mysql:8
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword123
      - MYSQL_DATABASE=cookpi
      - MYSQL_USER=alumno25.cacace.nicolas
      - MYSQL_PASSWORD=JT5+g+V39/IyRNkMzaPAeg==
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
