name: Build and Push Docker Image
 
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
 
env:
  IMAGE_NAME: CookpiBackend
  IMAGE_OWNER: ${{ github.repository_owner }}
 
jobs:
  build-and-push:
    runs-on: ubuntu-latest
 
    permissions:
      contents: read
      packages: write
 
    steps:
      - name: Checkout
        uses: actions/checkout@v4


      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}
 
      - name: Build and push Docker image
        run: |
          IMAGE_OWNER_LC=$(echo $IMAGE_OWNER | tr '[:upper:]' '[:lower:]')
          docker build -t ghcr.io/$IMAGE_OWNER_LC/$IMAGE_NAME:latest -f Dockerfile .
          docker push ghcr.io/$IMAGE_OWNER_LC/$IMAGE_NAME:latest
